:root{
    font-size: 62.5%;
}

body{
    padding: 2rem 1.5rem;
    margin: 0;
    font-family: sans-serif;
}

main{
    background-color: aliceblue;
    margin: 0 -1.5rem;
    margin-top: 5rem;
    padding: 1rem;
}

header{
    background-color: aliceblue;
    height: 6rem;
    margin: -2rem -1.5rem 0 -1.5rem;
    text-align: center;

}

.header-logo{
    height: 6rem;
    position: absolute;
    top: 0;
    left: 0;
}

.header-text{
    text-align: center;
    display: inline-block;
    background-color: aliceblue;
    position: relative;
    margin: 0 auto;
    z-index: 1000;
    font-size: 2.5rem;
}

footer{
    background-color: aliceblue;
    margin: 0 -1.5rem -2rem -1.5rem;
    position: fixed;
    bottom: 2rem;
    width: 100%;
}

footer p{
    text-align: center;
    font-size: 2rem;
}

.datebox__output{
    font-size: 5rem;
    text-align: center;
}